ingress:
  enabled: true
  annotations:
    cert-manager.io/cluster-issuer: "{{ cluster_issuer_name }}"
  ingressClassName: nginx
  hosts:
    - host: "dashboard.{{ dns_name }}"
      paths:
      - path: /
        type: ImplementationSpecific
  tls:
   - secretName: dash-secret
     hosts:
       - "dashboard.{{ dns_name }}"
